/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #D3D0CB;
    font-family: "Source Sans Pro";
    margin-top: 65px;
    margin-left: 60px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 25px;
    color: #1b3b6f;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: #1b3b6f;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



.home-grid {
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #D3D0CB;
    font-family: "Source Sans Pro";
    font-size: 25px;
    display: grid;
    grid-template-columns: 220px auto;
}
.resume {
    grid-column: 1 / 8;
    grid-row: 1 / 7;
}
.logo {
    width: 200px;
    margin-bottom: 0px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #1b3b6f;
    padding: 35px;
    margin-top: 40px;
}
footer {
    background-color: #D3D0CB;   
    padding: 25px 50px;  
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1b3b6f;
    font-size: 18px;
}