/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #D3D0CB;
    font-family: "Work Sans";
    margin-top: 65px;
    margin-left: 60px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 25px;
    color: #1b3b6f;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: #1b3b6f;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }





.home-grid {
    display: grid;
    grid-template-rows: repeat(25, 4%);
    grid-template-columns: repeat(16, 6.25%);
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #D3D0CB;
    font-family: "Work Sans";
    font-size: 25px;
    display: grid;
    grid-template-columns: 220px auto;
}
.resume {
    grid-column: 3 / 8;
    grid-row: 1 / 7;
}
.logo {
    width: 200px;
    margin-bottom: 0px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #1b3b6f;
    padding: 35px;
    margin-top: 40px;
}
.eduction {
  grid-column: 4 / 6;
  grid-row: 2 / 6; 
}
.texas_edu{
  grid-column-start: 10; 
  grid-column-end: 14;
  grid-row: 2 / 6;
}
.a_m {
  max-width: 200px;
}
.idaho_edu {
  grid-column: 10 / 14;
  grid-row: 6 / 8;
}
.byu-i {
  max-width: 200px;
}
.edu_msg {
  grid-column: 4 / 8;
  grid-row: 3 / 6;
  font-family: "Source Sans Pro";
}
.hydro {
  grid-column: 8 / 15;
  grid-row: 11 / 17;
}
.work1_msg {
  grid-column: 2 / 7;
  grid-row: 12 / 16;
  font-family: "Source Sans Pro";
}
.kiribati_pic {
  grid-column: 2 / 7;
  grid-row: 20 / 25;
}
.work2_msg {
  grid-column: 12 / 16;
  grid-row: 21 / 25;
  font-family: "Source Sans Pro";
}
footer {
    background-color: #D3D0CB;   
    padding: 25px 50px;  
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1b3b6f;
    font-size: 18px;
}



.paramotoring{
  grid-column: 9 / 14;
  grid-row: 3 / 11;
}
.paramotor {
  max-width: 375px;
}
.intro {
  grid-column: 3 / 8;
  grid-row: 5 / 11;
  font-family: "Source Sans Pro";
}
.sail_carib {
  grid-column: 2 / 7;
  grid-row: 18 / 20;
}
.sail {
  max-width: 500px; 
}
.sailing {
  grid-column: 10 / 14;
  grid-row: 19 / 21;
  font-family: "Source Sans Pro";
}
